@mixin wrapper {
  display: flex;
  flex-direction: column;
  max-width: $wrapper-max;
  min-width: $wrapper-min;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

@mixin container {
  max-width: $container-max-widths;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
}
